.Converter {
    width: 100%;
    padding: 0 15%;
    box-sizing: border-box;
    text-align: center;
}
.Form {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.Form input,
select {
    padding: 5px;
    margin: 5px 10px;
    border-radius: 5px;
    width: 50%;
    border: 1px solid rgba(119, 119, 119, 0.5);
    background-color: #005A9C;
}
.Converter h3 {
    background-color: #ccc;
    border-radius: 10px;
    padding: 15px;
    font-size: 30px;
}
.Converter h2 span {
    color: rgb(11, 170, 59);
}
.Balance {
    width: 90%;
    padding: 10px;
    margin: 20px;
    font-size: 30px;
}

.Balance h3 {
    color: Yellow;
}
